/* 
basic format:
selector{
    property: value;
    other property: value;
*/

/*universal selector(astrict) selects everything on the page*/
*{
    line-height: 1.5;
    background-color: aliceblue;
}


