/* 
basic format:
selector{
    property: value;
    other property: value;
*/

/*universal selector(astrict) selects everything on the page*/
*{
    line-height: 1.5;
    background-color: aliceblue;
}

body{
    font-family:'Verdana, Geneva, Tahoma, sans-serif';
}

img{
    width: 300;
}

ul{
    list-style:disc;    
}

h1{
    color: darkblue;
}

h2{
    color: darkgreen;
}

.recipe-name{
    font:800px;
}
